#social {
  z-index: 10;
  position: fixed;
  left: 0;
  bottom: 100px;
  width: 50px;
  height: 100px;
  background: $bg-social;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px;

  img {
    width: 30px;
    height: 30px;
  }
}

@include responsive-mobile {
  #social {
    height: 60px;
    width: 40px;
    bottom: 60px;

    img {
      width: 20px;
      height: 20px;
    }
  }
}
