@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

::selection {
  background-color: #000;
  color: #000;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2 {
  font-weight: normal;
}

button,
input {
  border: 0;
  font-family: "Inter", sans-serif;
}
button:focus,
input:focus {
  border: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #101010;
}

a {
  color: #0076ff;
  transition: color 0.2s;
}

a:hover {
  color: #004697;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
#header h1 {
  font-size: 36px;
}
#header h1 span {
  font-weight: 600;
}
#header div {
  display: flex;
  align-items: center;
}
#header div span {
  cursor: pointer;
  margin-right: 30px;
  font-weight: 500;
  font-size: 12px;
  opacity: 65%;
  transition: opacity 0.2s;
}
#header div span:hover {
  opacity: 100%;
}
#header div p {
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  #header {
    height: 70px;
  }
  #header h1 {
    font-size: 30px;
  }
  #header div span {
    font-size: 10px;
  }
}
.main-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main-content h2 {
  font-size: 85px;
  margin-bottom: 10px;
}
.main-content h2 .bold {
  font-weight: 600;
}
.main-content .bg {
  background: #fff;
  color: #000;
}
.main-content p {
  font-size: 24px;
}

.main-content.top {
  height: calc(100vh - 90px);
}

.main-content.bottom {
  background: #000;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .main-content h2 {
    font-size: 70px;
  }
}
@media screen and (max-width: 992px) {
  .main-content h2 {
    font-size: 50px;
  }
  .main-content p {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .main-content.top {
    height: calc(100vh - 70px);
  }
}
#social {
  z-index: 10;
  position: fixed;
  left: 0;
  bottom: 100px;
  width: 50px;
  height: 100px;
  background: #fefefe;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}
#social img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 768px) {
  #social {
    height: 60px;
    width: 40px;
    bottom: 60px;
  }
  #social img {
    width: 20px;
    height: 20px;
  }
}
#projects ul li {
  border-bottom: 20px solid #000;
  display: flex;
  background: #fafbfc;
}
#projects ul li > div {
  width: 50%;
}
#projects ul li .presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}
#projects ul li .presentation h3 {
  font-size: 50px;
}
#projects ul li .presentation p {
  font-size: 50px;
}
#projects ul li .presentation .project-techs {
  opacity: 90%;
  font-size: 16px;
  margin: 5px 0;
}
#projects ul li .presentation a {
  font-size: 20px;
  margin-top: 5px;
}
#projects ul li .preview > div {
  width: 100%;
  height: 100%;
  padding: 30px;
}
#projects ul li .preview img {
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}
#projects ul .right {
  flex-direction: row-reverse;
  background: #000;
  color: #fff;
}

@media screen and (max-width: 992px) {
  #projects ul li {
    flex-direction: column;
  }
  #projects ul li > div {
    width: 100%;
  }
  #projects ul li .presentation {
    padding: 30px;
  }
  #projects ul li .presentation h3 {
    font-size: 30px;
  }
  #projects ul li .presentation p {
    font-size: 24px;
  }
  #projects ul .right {
    flex-direction: column;
  }
}
#contact p {
  font-size: 20px;
  font-weight: 400;
}
#contact footer {
  bottom: 0;
  font-size: 16px;
  background: #111;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  color: #fff;
}
#contact footer p {
  margin-bottom: 20px;
}
#contact footer nav {
  display: flex;
  gap: 30px;
}
#contact footer nav a {
  color: #e4e4e4;
  font-weight: 300;
}
#contact footer nav a:hover {
  color: #fefefe;
}

@media screen and (max-width: 768px) {
  #contact form {
    width: 320px;
    height: 250px;
  }
}
#back-top {
  z-index: 10;
  position: fixed;
  right: 35px;
  bottom: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  cursor: pointer;
}
#back-top img {
  width: 30px;
  height: 30px;
  display: inline;
}

body {
  background: #fff;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

@media screen and (max-width: 1700px) {
  .container {
    max-width: 1000px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
